.overview span:hover {
    text-decoration: underline;
    text-decoration-color: brown;
}

.image {
    background-color: gray;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.heat-map-section {
    padding-left: 200px;
    margin-top: 20px;
}